  
  
  <div id='basicLoginForm'>
  
Username: <input type="text" id="userInput" />
Password: <input type="password" id="passInput" />
<br/>
<button label="Log In" id="loginButton">Log In</button>

  
  
  
  </div>
  

