  
  
  <div id='basicLoginForm'>
  
  <br/>
Username: <input type="text" id="userInput" /> <br/>
Password: <input type="password" id="passInput" />
<br/>
<button label="Log In" id="loginButton">Log In</button>

  
  
  
  </div>
  

