<div id="basicLoginForm" class="col-md-12">  
	<div class="col-md-4"> </div>
	<div id="formInputs" class="col-md-4" style="margin-top: 20px;padding: 20px;background: lightgray;border-radius: 5px;">
		          
		<div id="labels" class="" style="float: left;margin-right: 10px;">
		    Username: <br><br>
		    Password: <br>
		</div>
		<div id="inputs" class="">
			<input type="text" id="userInput"> <br>
			<br>
			<input type="password" id="passInput"><br>
		</div>
		<div style="text-align: center;">
			<br>
			<button label="Log In" id="loginButton">Log In</button>
		</div>
	</div>
	<div class="col-md-4"> </div>
</div>