<div id="new-user-signup-form">
        <select id="new-user-connection-dropdown" style="display:none">
                {{#each connections}}
                        <option value="{{this.id}}" selected>{{this.label}}</option>
                {{/each}}
        </select>
	<div id="current-connection-form" class="container">
	</div>
</div>
